.poster {
    overflow: hidden;
    position: relative;
    aspect-ratio: 16 / 9;
}

.posterBackdrop {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40px 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.posterBackdropGradient {
    background-image: linear-gradient(to right, rgb(255, 255, 255) 20%, rgba(10.5, 31.5, 31.5, 0) 50%);
    width: 100%;
    height: 100%;
}

.posterDetail {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    display: flex;
    gap: 20px;
    padding: 20px;
    height: 100%;
    width: 100%;
}

.posterImgContainer {
    overflow: hidden;
    border-radius: 4px;
}

.posterImg {
    height: 100%;
    width: 100%;
}

/* @media (min-width: 768px) {
    .posterText {
        background: rgba(208, 208, 208, 0.4);
        backdrop-filter: blur(10px);
        padding: 20px;
        border-radius: 4px;
        color: black;
        height: auto;
    }
} */