.container {
    min-width: 300px;
    max-width: 360px;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
}

body {
    font-family: 'MulishRegular';
}

@font-face {
    font-family: 'LexendGigaExtraBold';
    src: local('LexendGigaExtraBold'), url('../fonts/LexendGiga-ExtraBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'MulishBold';
    src: local('MulishBold'), url('../fonts/Mulish-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'MulishRegular';
    src: local('MulishRegular'), url('../fonts/Mulish-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}