.localsBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.localsBtn {
    cursor: pointer;
    font-size: 12px;
    padding: 4px;
}