.logoLink {
    display: inline-block;
}

.logo {
    font-family: 'LexendGigaExtraBold';
    font-size: 26px;
    padding: 10px 0;
}

@media (min-width: 768px) {
    .logo {
        font-size: 36px;
    }
}