.movieList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}

.movieListItem {
    flex-basis: calc((100% - 20px)/2);
    border-radius: 4px;
}

@media (min-width: 768px) {
    .movieListItem {
        flex-basis: calc((100% - 40px)/3);
    }
}

@media (min-width: 1280px) {
    .movieListItem {
        flex-basis: calc((100% - 80px)/5);
    }
}

.movieImgContainer {
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
}

.movieImgContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}