.headerContainer {
    position: sticky;
    z-index: 1;
    top: 0;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 0 10px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}

.navLinkContainer {
    margin: 0 auto;
}

.navLinkList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.navLink svg {
    display: flex;
    align-items: center;
    justify-content: center;
}